<div class="container">
  <div class="controlWrap">
    <div class="controls">
      <div class="searchBarWrap">
        <div class="iconWrap">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            width="50px"
            height="50px"
            class="search"
          >
            <path
              d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"
            />
          </svg>
          <input
            (input)="search($event)"
            class="searchBar"
            type="text"
            placeholder="Keresés..."
          />
        </div>
      </div>

      
    </div>
    <label class="toggle-deleted toggle fields">
      <input
        type="checkbox"
        [checked]="showDeleted"
        (change)="toggleShowDeleted()"
      />
      <span class="toggle-slider"></span>

      Törölt felhasználók mutatása
    </label>
  </div>



  <table>
    @if (errorMsg) {
    <div class="error-message container" @errorAnimation>
      <p>{{ errorMsg }}</p>
      <button (click)="errorMsg = ''">×</button>
    </div>
    }
    <tr>
      <th (click)="sortBy('name')">Név {{ getSortIndicator("name") }}</th>
      <th (click)="sortBy('email')">Email {{ getSortIndicator("email") }}</th>
      <th (click)="sortBy('phone')">Telefonszám {{ getSortIndicator("phone") }}</th>
      <th (click)="sortBy('role')">Szerep {{ getSortIndicator("role") }}</th>
      <th>Profilkép</th>
      <th (click)="sortBy('appliedForTraining')">Edző jelentkezés {{ getSortIndicator("appliedForTraining") }}</th>
      <th></th>
    </tr>
    @for (user of displayUsers; track $index) {
    <tr [ngClass]="{deleted: !user.isActive}">
      <td data-cell="Név">{{ user.name }}</td>
      <td data-cell="Email">{{ user.email }}</td>
      <td data-cell="Telefonszám">{{ user.phone }}</td>
      <td data-cell="Szerep">
      {{userInHungarian(user)}}
      </td>

      <td data-cell="Profilkép"><img [src]="user.imageUrl" alt="" /></td>
      <td data-cell="Edző jelentkezés elfogadása">
        @if(user.appliedForTraining && user.isActive) {
        <div class="button-wrapper">
          @if (loadingUserId == user.id) {
            <app-button-loader></app-button-loader>
          }
          @else {
            <button class="success" (click)="acceptUser(user)">Elfogad</button>
            <button class="danger" (click)="rejectUser(user)">Elutasít</button>

          }
        </div>

        }
      </td>
      <td>
        @if (user.role != 'admin' && user.role != "employee" && user.isActive) 
        {

          <div class="itemButtons">
            
            <button aria-label="delete" (click)="openDeleteModal(user)">
              @if (deletingUserId === user.id) {
              <app-button-loader [size]="0.3"></app-button-loader>
              } @else {
  
              <svg
                width="800px"
                height="800px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 7H20"
                  stroke="var(--main-text)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 10L7.70141 19.3578C7.87432 20.3088 8.70258 21 9.66915 21H14.3308C15.2974 21 16.1257 20.3087 16.2986 19.3578L18 10"
                  stroke="var(--main-text)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                  stroke="var(--main-text)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              }
            </button>
          </div>
        }
      </td>
    </tr>
    }
  </table>
</div>
@if (showDeleteModal) {
  <div class="modal-backdrop">
    <div class="modal">
      <h3>Felhasználó törlése</h3>
      <p>Biztosan törölni szeretnéd {{ selectedUser?.name }} felhasználót?</p>
      <div class="modal-actions">
        <button class="btn secondary" (click)="onCancelDelete()">Mégse</button>
        <button class="btn danger" (click)="onConfirmDelete()">Törlés</button>
      </div>
    </div>
  </div>
  }
