.subscriptions {
  isolation: isolate;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(20rem, 1fr)
  ); 
  gap: 2rem;
  padding: 3em 2em;
  justify-content: center;
  img {
    z-index: -1;
    position: absolute;
    opacity: 40%;
    object-fit: cover;
    bottom: 0;
  }
}
h2 {
  font-size: 3rem;
}
@media only screen and (min-width: 110em) {
  .subscriptions .leftSmall {
    object-position: top;
    top: 1em;
    bottom: unset;
    left: 0;
    width: 80%;
    transform: translateX(-10%);
  }
}
@media only screen and (max-width: 110em) {
  .subscriptions .leftSmall {
    height: 100%;
    translate: -10%;
  }
}
