.eventContainer {
  background-color: var(--bg-tertiary);
  border-radius: var(--border-radius);
  padding: clamp(1.5em, 2vw, 2em) clamp(1.5em, 4vw, 4em);
  border: 2px solid var(--tertiary-color);
  min-width: 100%;

  h2 {
    font-size: clamp(1.5rem, 2vw + 0.8rem, 2rem);
  }

  .subtitle {
    color: var(--secondary-text);
    margin-top: 0.25em;
  }
  .title {
    margin-top: 1em;
    font-weight: bold;
    font-size: clamp(
      1.1rem,
      1.2vw + 0.9rem,
      1.25rem
    );
  }
  button {
    flex-grow: 0;
    border: none;
    color: var(--text-color);
    font-weight: bold;

    border-radius: var(--border-radius);
    margin-top: 0.5em;

    font-size: clamp(1rem, 1vw + 0.8rem, 1.2rem);
    padding: clamp(0.1em, 0.5vw, 0.25em) clamp(0.5em, 2vw, 1em);

    &:hover {
      opacity: 0.9;
    }
    cursor: pointer;
    &.applied {
      background-color: var(--tertiary-color);
    }
    &.full {
      background-color: var(--danger);
      cursor: default;
      &:hover {
        opacity: 1;
      }
    }
    &.apply {
      background-color: var(--primary-color);
    }
  }
}
