.eventContainer{
    background-color: var(--bg-tertiary);
    border-radius: var(--border-radius);
    padding: 2em 4em 2em 3em;
    border: 2px solid var(--tertiary-color);
    min-width: 20em;
    h2{
        font-size: 2rem;
    }


    .subtitle{
        color: var(--secondary-text);
        margin-top: 0.25em;
        
    }
    .title{
        margin-top: 1em;
        font-weight: bold;
        font-size: 1.25rem ;
    }
    button{
        flex-grow: 0;
        border: none;
        color: var(--text-color);
        font-weight: bold;
        padding:  .1em 1em;
        border-radius: var(--border-radius);
        margin-top: .5em;
        font-size: 1.5rem;
        &:hover{
          opacity: 0.9;
        }
        cursor: pointer;
        &.applied{
          background-color: var(--tertiary-color);
          
        }
        &.full{
          background-color: var(--danger);
          cursor: default;
          &:hover{
            opacity: 1;
          }
        }
        &.apply{
          background-color: var(--primary-color);

        }
    }
}