@using SlimFitGym_Mobile.Models
@using SlimFitGym_Mobile.Services
@inject NavigationManager NavigationManager
@page "/addTraining"

<Header />
<div class="sticky-top py-3 border-bottom">
    <h2 class="text-center fw-bold">Edzés létrehozása</h2>
</div>

<div class="container">
    <div class="border rounded-3 d-inline-block mb-3">
        <NavLink href="/trainings" class="d-block p-1">
            <img class="invert" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeUlEQVR4nO3XQQrCMBCF4e8MWkrvErLw/oeRWlxXChHEVRd1hHT+C/zJ42WY0BEjrtHSigfukfKKBStmXCKkpd10kz5xS+mRZLw/pWR7u4t3+JAubSzqWvy3qN+kfM3YBVKy7c72zuvXejtEy+d2gO1HEcqIKVq6mxcYKlU4XwQ2VAAAAABJRU5ErkJggg==" alt="back">
        </NavLink>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <form @onsubmit="addTraining">
                        <div class="mb-3">
                            <label for="name" class="form-label">Edzés neve</label>
                            <input type="text" class="form-control" id="name" placeholder="Név" @bind="newTraining.Name" />
                        </div>
                        <div class="mb-3">
                            <label for="trainingEnd" class="form-label">Kezdési idő</label>
                            <input type="datetime" class="form-control" id="trainingEnd" @bind="newTraining.TrainingStart" />
                        </div>

                        <div class="mb-3">
                            <label for="trainingEnd" class="form-label">Befejezési idő</label>
                            <input type="datetime" class="form-control" id="trainingEnd" @bind="newTraining.TrainingEnd" />
                        </div>

                        <div class="mb-3">
                            <label for="maxPeople" class="form-label">Max. résztvevők</label>
                            <input type="number" class="form-control w-25 text-center" maxlength="2" step="1" id="maxPeople" @bind="newTraining.MaxPeople" />
                        </div>
                        <div class="mb-3">
                            <label for="roomId" class="form-label">Terem</label>
                            <select class="form-select" id="roomId" placeholder="Válassz termet" @bind="newTraining.RoomId">
                                @foreach (var room in rooms)
                                {
                                    <option value="@room.Id">@room.Name</option>
                                }
                            </select>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Edzés létrehozása</button>
                        </div>
                    </form>
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger mt-3">
                            @((MarkupString)errorMessage.Replace("\n", "<br>"))
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private TrainingModel newTraining = new TrainingModel()
    {
        TrainerId = AccountModel.LoggedInUser.Id,
        TrainingStart = DateTime.Now,
        TrainingEnd = DateTime.Now.AddMinutes(30)
    };
    private List<RoomModel> rooms = RoomModel.GetRooms();
    //private List<RoomModel> rooms = DataService.GetRooms();
    private string errorMessage;


    private async Task addTraining()
    {
        errorMessage = string.Empty;
        try
        {
            if (string.IsNullOrEmpty(newTraining.Name) || newTraining.TrainingStart == null || newTraining.TrainingEnd == null || newTraining.MaxPeople == 0 || newTraining.RoomId == 0)
            {
                errorMessage = "Minden mező kitöltése kötelező";
                return;
            }
            if (newTraining.TrainingStart >= newTraining.TrainingEnd)
            {
                errorMessage = "A kezdési időpontnak korábbinak kell lennie, mint a befejezés";
                return;
            }
            if (newTraining.TrainingEnd.Subtract(newTraining.TrainingStart).TotalMinutes < 30)
            {
                errorMessage = "Az edzés legkisebb időtartama 30 perc";
            }
            if (newTraining.MaxPeople < 1)
            {
                errorMessage = "Minimum résztvevő 1 fő";
                return;
            }
            if (newTraining.MaxPeople > 50)
            {
                errorMessage = "A résztvevők korláta 50 fő";
                return;
            }

            //var result = await DataService.CreateTraining(newTraining);
            if (true) //result
            {
                Trainings.trainings.Add(newTraining);
                NavigationManager.NavigateTo("/trainings");
            }
            else
            {
                errorMessage = "Hiba történt az edzés létrehozása közben";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Hiba: {ex.Message}";
        }
    }
}

