@page "/newPassword"
@using SlimFitGym_Mobile.Models
@inject NavigationManager NavigationManager
@using SlimFitGym_Mobile.Services
@inject DataService DataService
@inject AuthService AuthService

<div class="border rounded-3 d-inline-block mt-3">
    <NavLink href="/" class="d-block p-1">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeUlEQVR4nO3XQQrCMBCF4e8MWkrvErLw/oeRWlxXChHEVRd1hHT+C/zJ42WY0BEjrtHSigfukfKKBStmXCKkpd10kz5xS+mRZLw/pWR7u4t3+JAubSzqWvy3qN+kfM3YBVKy7c72zuvXejtEy+d2gO1HEcqIKVq6mxcYKlU4XwQ2VAAAAABJRU5ErkJggg==" alt="back">
    </NavLink>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Új jelszó</h2>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="newPasswordEmail" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Új jelszó</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="Új jelszó" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Új jelszó újra</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Új jelszó újra" required>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary" @onclick="saveNewPassword">Mentés</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void saveNewPassword()
    {
        NavigationManager.NavigateTo("/login");
    }
}