@using SlimFitGym_Mobile.Models
@using SlimFitGym_Mobile.Services
@page "/passes"

<Header />

<div class="container mt-2 d-flex flex-column">
    <div class="sticky-top py-3 bg-white text-center border-bottom">
        <h2 class="fw-bold">Jegyek és bérletek</h2>
    </div>

    <div class="overflow-auto flex-grow-1">
        <div class="row row-cols-1 g-4">
            @foreach (var pass in passes)
            {
                <div class="col d-flex justify-content-center">
                    <div class="card p-3 w-100 border rounded shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold">@pass.Name</h5>
                                <h4 class="fw-bold text-primary">$@pass.Price</h4>
                            </div>
                            <p class="text-muted">@pass.Description</p>
                            @if (AccountModel.LoggedInUser?.Role != "trainer")
                            {
                                <NavLink href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary w-100">Vásárlás</NavLink>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<Navbar />

@code {
    private List<PassModel> passes = PassModel.GetPasses();

    // private List<PassModel>? passes = new List<PassModel>();
    // protected override async Task OnInitializedAsync()
    // {
    //     passes = await DataService.GetMachines();
    // }

}
