<div class="card" [ngClass]="{'user-pass': pass?.passOfUser}">
  <div class="content">
    <h3 class="title">{{ pass?.name }}</h3>
    
    <p class="priceWrap">
      <span class="price">{{ pass?.price }}</span>
      <span class="unit">Ft</span>
    </p>

    <ul class="benefits">
      @for (benefit of getBenefits(pass); track $index) {
        <li>{{ benefit }}</li>
      }
    </ul>

    @if (!pass?.passOfUser && displayBuyButton) {
      <button class="btn" (click)="buyPass(pass)">
        @if (pass?.isLoading) {
          <app-button-loader [size]="0.5"></app-button-loader>
        }
        @else {
          Vásárlás

        }
      </button>
    }
  </div>
</div>