<app-hero imgSrc="mainHero.jpeg" title="Slim fit gym" subtitle="Ahol az álmok valóra válnak"/>

<div class="counterContainer g5">
<app-counter-bubble [number]="roomCount" title="Szoba"/>
<app-counter-bubble [number]="fullMaxPeople" title="Férőhely"/>
<app-counter-bubble [number]="machineCount" title="Fajta gép"/>

</div>
<div class="scrollerContainer">
    <h2>Edzőink</h2>
  <app-side-scroller [trainers]="trainers"></app-side-scroller>
</div>
<section class="promotions-container ">
  <app-promotion
    imageUrl="mainHero.jpeg"
    title="Modern Felszerelés"
    description="Legújabb technológiájú edzőgépeinkkel garantáljuk a hatékony edzést. Minden szinthez megfelelő felszerelés!"
  ></app-promotion>

  <app-promotion
    imageUrl="mainHero.jpeg"
    [align]="'right'"
    title="Szakértő Edzők"
    description="Tapasztalt edzőink segítenek céljaid elérésében. Személyre szabott edzésterv és folyamatos támogatás!"
  ></app-promotion>
</section>
<div class="mt5">
    <app-subscriptions title="Kiemelt ajánlataink" [highlightOnly]="true"/>
</div>