<app-hero imgSrc="mainHero.jpeg" title="Slim fit gym" subtitle="Ahol az álmok válnak valóra"/>

<div class="counterContainer g5">
<app-counter-bubble [number]="5" title="hinnye"/>
<app-counter-bubble [number]="12" title="valami"/>
<app-counter-bubble [number]="32" title="cucc"/>

</div>
<section class="promotions-container ">
  <app-promotion
    imageUrl="mainHero.jpeg"
    title="Modern Felszerelés"
    description="Legújabb technológiájú edzőgépeinkkel garantáljuk a hatékony edzést. Minden szinthez megfelelő felszerelés!"
  ></app-promotion>

  <app-promotion
    imageUrl="mainHero.jpeg"
    [align]="'right'"
    title="Szakértő Edzők"
    description="Tapasztalt edzőink segítenek céljaid elérésében. Személyre szabott edzésterv és folyamatos támogatás!"
  ></app-promotion>
</section>
<div class="mt5">
    <app-subscriptions title="Kiemelt ajánlataink" [highlightOnly]="true"/>
</div>