<div class="wrapperWrapper">
    <div class="loginWrapper">
        <div class="content">
            <div class="inputField">
                <label class="input_title" for="loginEmail">Email</label>
                <input type="text" id="loginEmail"></div>
            <div class="inputField">
                <label class="input_title" for="loginEmail">Jelszó</label>
                <input type="text" id="logInPassword"></div>
            <div class="links">
                <a href="">Elfelejett jelszó?</a>
                <span>·</span>
                <a routerLink="/signup">Regisztráció</a>
            </div>
            <button>Bejelentkezés</button>
        </div>
        <img class="logInImage" src="mainHero.jpeg" alt="">
    </div>
</div>