<app-hero
  imgSrc="training.jpg"
  title="Edzéseink"
  subtitle="Itt nézheti meg az edzéseinket"
/>
@if (loading) {
  <div class="overlay">
    <app-button-loader  [size]="2"></app-button-loader>
  </div>
}
<div class="container mt5">
  <h2>Közelgő események</h2>
  <div class="container">
    <div class="search-container">
      <div class="search-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="search-icon"
        >
          <path
            d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
          />
        </svg>
        <input
          [(ngModel)]="searchParam"
          class="search-input"
          type="text"
          placeholder="Keresés edzésekre..."
          (keyup.enter)="search()"
        />
        <button class="search-button" (click)="search()">Keresés</button>
      </div>
    </div>
  </div>

  <div class="trainings">
    @for (training of trainings; track $index) {
    <div class="trainingSection">
      <div class="trainerImage">
        <img [src]="training.trainerImageUrl || 'muscleManOrange.svg'" alt="" />
      </div>
      <div class="trainingContent">
        <img [src]="training.roomImageUrl || ' templateSzoba.jpg'" alt="" />
        <div class="contentWrap">
          <h3 class="trainingName">{{ training.name }}</h3>
          <p class="trainerName">Edző: {{ training.trainer }}</p>
          <p class="trainingPeople">
            Helyek száma: {{ training.maxPeople - training.freePlaces }}/{{
              training.maxPeople
            }}
          </p>
          <p class="date">{{ displayDate(training) }}</p>
          @if(user && training.trainerId != user.id) {
            @if (training.userApplied) {
              <button class="applied" (click)="unsubscribe(training)">Lemondás</button>
            }
            @else if (training.freePlaces == 0) {
              <button class="full">betelt</button>
            }
            @else {
              <button class="apply" (click)="subscribe(training)">Jelentkezés</button>
            }
          }
        </div>
      </div>
    </div>
    }
  </div>

  <div class="pagination-controls">
    <button
      class="pagination-button"
      (click)="previousPage()"
      [disabled]="offset === 0"
    >
      &laquo; Előző
    </button>
    <span class="page-indicator">Oldal {{ currentPage }}</span>
    <button
      class="pagination-button"
      (click)="nextPage()"
      [disabled]="!hasMore"
    >
      Következő &raquo;
    </button>
  </div>
</div>
<app-footer></app-footer>