$card-width: 25rem;



.cardWrapper {
  gap: 2em;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: $card-width;
}
app-machine-card {
 

    max-width: $card-width;
    width: fit-content;
    background-color: var(--bg-tertiary);
    .expandedContent {
      img {
        height: 100%;
        width: 30em;
        object-fit: cover;
      }
    }
  
}
