$card-width: 25rem;



.cardWrapper {
  gap: 2em;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: $card-width;
}