<div class="container">
  <h2 >{{title()}}</h2>
  <div class="subscriptions | g5">
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />

    @if (!highlightOnly()) {
      <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    }

    <img src="muscleMan.svg" [ngClass]="{'leftSmall': highlightOnly()}" class="bgImage leftSmall" alt="" />
  </div>
</div>
