<div class="container">
  <h2 class="mt5">Legjobb ajánlataink</h2>
  <div class="subscriptions | g5">
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />
    <app-card
      linkBtnText="Vásárlás"
      linkTo="#a"
      [benefits]="['asd', '5 belépés', 'örök élet ']"
      price="3500"
      unit="Ft/Hó"
      title="Alap"

    />

    <img src="muscleMan.svg" class="bgImage leftSmall" alt="" />
  </div>
</div>
