.searchBarWrap {
  margin: 3em 0em 1.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  .iconWrap {
    max-width: 100ch;
    flex-grow: 1;
    position: relative;
    .searchBar {
      background-color: inherit;
      border: var(--primary-color) 2px solid;
      border-radius: var(--border-radius);
      font-size: 2rem;
      color: var(--text-color);
      padding: 0.25em 1em;
      padding-left: 2em;

      width: 100%;
      position: relative;

      &:focus-visible{
      outline: unset;

      }
    }
    &:has(.searchBar:focus-visible){
        .search{
            fill: #FA824C;

        }
    }
    .search{
        fill: #FAFFFD;
        width: 2em;
        position: absolute;
        top: 50%;
        left: 1em;
        -webkit-transform: scaleX(-1) translate(0, -50%);
         transform: scaleX(-1) translate(0, -50%);
         
    }
  }
}
