<app-accordion-segment title="Új jelszó">
    

        <div class="flex hcenter">
            <div>
                <div class="inputs">
                    <div class="input">
                        <label for="newPassword">Új jelszó:</label>
                        <input type="password" name="newPassword" id="newPassword">
                    </div>
                    <div class="input">
                        <label for="newPasswordAgain">Új jelszó még egyszer:</label>
                        <input type="password" name="newPasswordAgain" id="newPasswordAgain">
                    </div>
                </div>
                <button>Beküldés</button>
            </div>
        </div>
</app-accordion-segment>