
    h2{
        font-size: 3rem;
    margin-top: 4rem;

    border-bottom: rgba(var(--main-text-rgb),0.2) solid 3px;
    }

form{
    width: 100%;
}

.inputs{

    .input{
        margin-top: 1em;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 3em;
        width: 100%;
        input{
            margin-left: auto;
            border: none;
            outline: transparent;
            background-color: inherit;
            color: var(--main-text);
            padding: 0.25em 0em;
            border-bottom: 1px solid var(--secondary-text);
            width: 60%;
            &:focus-visible{
                border-bottom: 2px solid var(--primary-color);

            }
        }
    }
}
.submitButton{
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--main-text);
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.25em 1em;
    border-radius: var(--border-radius);
    border: none;
    &.error{
        background-color: var(--danger);
    }
    &.disabled{
        opacity: 0.7;
    }
   
}
div.submitButton{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}