.inputs{

    width: fit-content;
    .input{
        margin-top: 1em;
        font-size: 2em;
        display: flex;
        align-items: center;
        gap: 3em;
        input{
            margin-left: auto;
            border: 2px solid var(--primary-color);
            background-color: var(--bg-tertiary);
            border-radius: var(--border-radius);
            color: var(--main-text);
            padding: .25em 1em;
        }
    }
}
input[type="submit"]{
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--main-text);
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    padding: 0.25em 1em;
    border-radius: var(--border-radius);
    border: none;
    
}