<div class="container">
  @if (errorMsg) {
  <div class="error-message container" @errorAnimation>
    <p>{{ errorMsg }}</p>
    <button (click)="errorMsg = ''">×</button>
  </div>
  }
  <h2>Új jelszó</h2>

  <div class="passwordWrap | flex">
    <form (submit)="newPassword()">
      <div class="inputs">
        <div class="input">
          <label for="newPassword">Új jelszó:</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input">
          <label for="newPasswordAgain">Új jelszó még egyszer:</label>
          <input
            type="password"
            name="newPasswordAgain"
            id="newPasswordAgain"
            [(ngModel)]="passwordAgain"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      @if (loading) {
      <div class="submitButton">
        <app-button-loader [size]="0.7"></app-button-loader>
      </div>
      } @else {
      <input [ngClass]="{disabled: password !== passwordAgain}" [ngClass]="{error: errorMsg}" class="submitButton" type="submit" value="Beküldés" />

      }
    </form>
  </div>
</div>
