.bubble{
    border-radius: 100%;
    border: 10px solid var(--secondary-color);
    aspect-ratio: 1 / 1;
    flex-direction: column;
    padding: 2.5em 8em;

    line-height: 1;
    width: 15em;
    p{
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        
    }
    .number{
        font-weight: bolder;
        font-size: 6rem;
        color: var(--secondary-color);
    }
}