<div
  [ngClass]="{ clickable: isClickable()}"
  class="card"
  routerLinkActive="router-link-active"
  [routerLink]="isClickable() ? linkTo() : []"
>
  <div>
    @if (imgSrc()) {
    <img [src]="imgSrc()" alt="" loading="lazy" />
    }
    <div class="content">
      @if (title()) {
      <h3 class="title">
        {{ title() }}
      </h3>
      } @if (price()) {
      <p class="priceWrap">
        <span class="price">{{ price() }}</span>
        <span class="unit">{{ unit() }}</span>
      </p>
      } @if (benefits()) {
      <ul class="benefits">
        @for (benefit of benefits(); track $index) {
        <li class="">{{ benefit }}</li>
        }
      </ul>
      } @if (description()) {
      <p class="description">
        {{ description() }}
      </p>
      } @if (btnText() || linkBtnText()) {
      <div class="flex buttonWrapper g1">
        @if (btnText()) {
        <button class="btn">{{ btnText() }}</button>
        } @if (linkBtnText()) {
        <a [routerLink]="linkTo()" class="btn">{{ linkBtnText() }}</a>
        }
      </div>
      }
    </div>
  </div>
  
</div>
