.container{
  padding-top: 1rem;
}
h2 {
  font-size: 3rem;
}
.searchBarWrap {
  margin: 3em 0em 1.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  .iconWrap {
    max-width: 100ch;
    flex-grow: 1;
    position: relative;
    .searchBar {
      background-color: inherit;
      border: var(--primary-color) 2px solid;
      border-radius: var(--border-radius);
      font-size: 2rem;
      color: var(--text-color);
      padding: 0.25em 1em;
      padding-left: 2em;

      width: 100%;
      position: relative;

      &:focus-visible {
        outline: unset;
      }
    }
    &:has(.searchBar:focus-visible) {
      .search {
        fill: #fa824c;
      }
    }
    .search {
      fill: #fafffd;
      width: 2em;
      position: absolute;
      top: 50%;
      left: 1em;
      -webkit-transform: scaleX(-1) translate(0, -50%);
      transform: scaleX(-1) translate(0, -50%);
    }
  }
}
.trainings {
  display: flex;
  flex-flow: column;
  gap: 3em;
  align-items: center;
}
.trainingSection {
  height: 20rem;
  width: min(90%, 70em);
  display: flex;
  border-radius: calc(var(--border-radius) * 2);
  overflow: hidden;

  .trainerImage {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    max-width: 30em;
    width: 30%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .trainingContent {
    position: relative;
    isolation: isolate;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    padding: 3em;
    justify-content: center;
    align-items: baseline;
    background-color: #000;

    img {
      position: absolute;
      z-index: -1;
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
      inset: 0;
      opacity: 0.4;
    }
    h3 {
      font-size: 3rem;
      font-weight: bold;
    }
    .date {
      color: var(--secondary-color);
      font-weight: bold;
      font-size: 1.25rem;
    }
    .trainerName {
      color: var(--secondary-text);
      font-weight: bold;
      font-size: 1.25rem;
    }
    button {
      flex-grow: 0;
      border: none;
      color: var(--text-color);
      font-weight: bold;
      padding: 0.1em 1em;
      border-radius: var(--border-radius);
      margin-top: 0.5em;
      font-size: 1.5rem;
      &:hover {
        opacity: 0.9;
      }
      cursor: pointer;
      &.applied {
        background-color: var(--tertiary-color);
      }
      &.full {
        background-color: var(--danger);
        cursor: default;
        &:hover {
          opacity: 1;
        }
      }
      &.apply {
        background-color: var(--primary-color);
      }
    }
  }
}
