<div class="wrapperWrapper">
  <div class="loginWrapper">
    <img class="logInImage" src="mainHero.jpeg" alt="" />
    <div class="content">
      <div class="inputField">
        <label class="input_title" for="loginEmail">Email</label>
        <input type="text" id="loginEmail" />
      </div>
      <div class="inputField">
        <label class="input_title" for="loginEmail">Név</label>
        <input type="text" id="logInPassword" />
      </div>
      <div class="inputField">
        <label class="input_title" for="loginEmail">Telefonszám</label>
        <input type="text" id="logInPassword" />
      </div>
      <div class="inputField">
        <label class="input_title" for="loginEmail">Jelszó</label>
        <input type="text" id="logInPassword" />
      </div>
      <div class="inputField">
        <label class="input_title" for="loginEmail">Jelszó újra</label>
        <input type="text" id="logInPassword" />
      </div>
      <div class="links">
        <a href="">Bejelentkezés</a>
      </div>
      <button>Regisztráció</button>
    </div>
  </div>
</div>
