@use "tailwindcss";
:root {
    --main-text: #FAFFFD;
    --secondary-text: #D4DBD8;
    --bg-color: #342e37;
    --bg-color-40: #352e3866;
    --bg-secondary: #2B272D;
    --bg-tertiary: #000000;
    --primary-color: #FA824C;
    --secondary-color: hsl(178, 40%, 47%);
    --tertiary-color: #4281A4;
    --danger: #FA4C4C;
    --border-radius: 1.5em;
    
  }

  
