$card-width: 25rem;
.machines
{
    h2{
        font-size: 4rem;
        margin-bottom: 0.5em;
    }
    .cardWrapper {
      gap: 2em;
      border-radius: var(--border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-basis: $card-width;
      
    }

}
app-card {
  max-width: $card-width;
  width: fit-content;
background-color: var(--bg-tertiary);
  .expandedContent{
    padding-top: 3em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    
    h3{
      font-size: 2rem;
    }
    p{
      max-width: 70ch;
    }
  }
}             