<app-hero
  imgSrc="templateSzoba.jpg"
  title="Termeink"
  subtitle="Termeink között mindenki megtalálhatja a számára legmegfelelőbbet"
/>
<div class="counterContainer g5 mt5">
  <app-counter-bubble [number]="5" title="hinnye" />
  <app-counter-bubble [number]="12" title="valami" />
  <app-counter-bubble [number]="32" title="cucc" />
</div>

<div class="container">
  <div class="eventWrapper"></div>
  <div class="mt5 machines">
    <h2>Gépeink</h2>
    <div class=" flex cardWrapper">
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap gép"
        linkTo=""
        [isClickable]="true"
        imgSrc="templateMachine.webp"
        description="Lorem  sunt aliquam dicta, sint incidunt similique!"
      />
           
    </div>
  </div>
</div>
