.hero{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    
    img{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100vw;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }
    .containter{
        margin-top: 25rem;
        h1{
            font-size: 6rem;
        }
        p{
            font-size: 2rem;
            font-style: italic;
        }

    }
}

