<div class="card">
    
    <h3 class="title">
        {{title()}}
    </h3>
    <p class="priceWrap"> <span class="price">{{price()}}</span> <span class="unit">{{unit()}}</span></p>
    <ul class="benefits">
        @for (benefit of benefits(); track $index) {

            <li class="">{{benefit}}</li>
        }
    </ul>
    <div class="flex buttonWrapper g1">
        @if (btnText()) {
            <button class="btn">{{btnText()}}</button>

        }
        @if (linkBtnText()) {

            <a href="{{linkTo()}}" class="btn">{{linkBtnText()}}</a>
        }
    </div>
</div>