<div class="container">
  @if (hasCameraPermission === false) {
  <div class="error">
    ⚠️ Kérjük engedélyezze a kamerát!!
  </div>
  } @else {
  <div class="scanner-wrapper">
    <video id="video-element"></video>
    <div class="scan-results">
      @if (lastEntry) {
      <div class="last-entry">
        <h3>Utolsó belépés</h3>
        <div class="entry-card">
          <div class="entry-name">{{ lastEntry.accountName }}</div>
          <div class="entry-time">
            {{ lastEntry.entryDate | date : "short" }}
          </div>
        </div>
      </div>
      } @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }

      <h3>Előzmények</h3>
      @if(entries.length > 0) {
      <ul>
        @for (code of entries; track $index) {
        <li>{{code.accountName}} - {{code.entryDate | date : "short"}}</li>
        }
      </ul>
      }
    </div>
  </div>
  }
</div>
