<div class="container">
  <form class="userData" (input)="formChanged()">
    <div class="imgWrap">
      <div class="profilePic">
        @if (user.imageUrl) {
        <img [src]="user.imageUrl" alt="" class="" />
  
        } @else {
  
        <img src="muscleManOrange.svg" alt="" class="default" />
        }
  
        <div class="addHover">
          <label for="file-upload" class="custom-file-upload"> + </label>
          <input
            id="file-upload"
            (change)="imageChanged($event)"
            type="file"
            accept=".jpg,.jpeg,.gif,.avif"
          />
        </div>
      </div>
      <button (click)="imgDelete()" class="delete imgDelete">
        @if (deleteImageLoading) {
        <app-button-loader></app-button-loader>
        } @else { Kép törlése }
      </button>
    </div>
    <div class="basicData">
      <p>
        <label for="name">Név: </label>
        <input
          type="text"
          id="name"
          [(ngModel)]="user.name"
          [ngModelOptions]="{ standalone: true }"
        />
      </p>
      <p>
        <label for="email">Email: </label>
        <input
          type="email"
          id="email"
          value="tibor@tibor.com"
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </p>
      <p>
        <label for="phone">Telefonszám: </label>
        <input
          type="tel"
          id="phone"
          value="+36303341322"
          [(ngModel)]="user.phone"
          [ngModelOptions]="{ standalone: true }"
        />
      </p>
  
      @if (user.role == "admin") {
      <p>
        <span>Jelenlegi szerep: </span>
        <span class="pass admin">Admin</span>
      </p>
      } @else if (user.role == "trainer") {
      <p>
        <span>Jelenlegi szerep: </span>
        <span class="pass admin">Edző</span>
      </p>
      } @if (loggedInUserPass) {
      <p>
        <span>Jelenlegi bérlet: </span>
        <a class="pass" routerLink="/subscriptions">{{
          loggedInUserPass.name
        }}</a>
      </p>
  
      }
      <div class="buttons">
        @if (updateLoading) {
        <div class="edit wrap">
          <app-button-loader></app-button-loader>
        </div>
  
        } @else {
  
        <input
          type="submit"
          class="edit"
          [ngClass]="{ disabled: !canModify }"
          (click)="updateUser()"
          value="Módosítás"
        />
        }
        <button class="delete" (click)="logout()">Kijelentkezés</button>
      </div>
    </div>
  </form>
  <app-new-password [user]="user"></app-new-password>
  <app-delete-user [user]="user"></app-delete-user>
</div>

