<div class="userData">
    <div class="imgWrap"><img src="norbi.jpg" alt="" class="profilePic" /></div>
    <div class="basicData">
      <p>
        <label for="name">Név: </label>
        <input type="text" id="name" value="Tiborfalvi Tibor" />
      </p>
      <p>
        <label for="email">Email: </label>
        <input type="email" id="email" value="tibor@tibor.com" />
      </p>
      <p>
        <label for="phone">Telefonszám: </label>
        <input type="tel" id="phone" value="+36303341322" />
      </p>
      <p>
        <span>Jelenlegi Bérlet: </span>
        <a class="pass">Alap</a>
      </p>
      <div class="buttons">
        <button class="edit">Módosítás</button>
        <button class="delete">Felhasználó törlése</button>
      </div>
    </div>
  </div>