.userData {
  display: flex;
  gap: 5em;
  margin: 0 auto;
  width: min(90em, 90%);
  .imgWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    height: 100%;
  }
  .profilePic {
    isolation: isolate;
    background-color: var(--bg-tertiary);
    margin-top: 5em;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    max-width: 35em;
    position: relative;
    input[type="file"] {
      display: none;
    }

    .addHover {
      display: none;
      color: var(--main-text);
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      text-align: center;
      font-size: 20rem;
      background-color: var(--bg-color-40);
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      &.default {
        object-position: 120% 2em;
      }
    }
    &:hover {
      .addHover {
        display: flex;
      }
    }
  }
  .basicData {
    margin-top: 5em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1.5em;
    a.pass {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .pass {
      color: var(--primary-color);
      font-weight: bold;
      margin-left: 1em;

      &.admin {
        color: var(--secondary-color);
      }
    }
   
    .buttons {
      display: flex;
      gap: 1em;
    }
  }
}
button,
.edit {
  height: 2em;
  cursor: pointer;

  margin-left: 0;
  &.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 70px;
  }
  border-radius: var(--border-radius);
  padding: 0.25em 1em;
  color: var(--primary-text);
  border: none;
  font-weight: bold;

  &.edit {
    background-color: var(--primary-color);
  }
  &.delete {
    background-color: var(--danger);
  }
}
input {
  background-color: var(--bg-tertiary);

  border: var(--primary-color) 3px solid;
  border-radius: var(--border-radius);
  color: var(--secondary-text);
  padding: 0.25em 1em;
  margin-left: 1em;
}
.imgDelete{
  font-size: 1.5rem;
  width: 100%;
  max-width: 20em;
}
.disabled{
  opacity: 0.5;
  cursor: default;
}