$card-width: 45rem;
.cardWrapper {
  gap: 2em;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: $card-width;
  app-card {
    background-color: var(--bg-tertiary);
    max-width: $card-width;
  }
}
