<app-hero
  imgSrc="roomHero.jpg"
  title="Termeink"
  subtitle="Termeink között mindenki megtalálhatja a számára legmegfelelőbbet"
/>
<div class="counterContainer g5 mt5">
    <app-counter-bubble [number]="5" title="hinnye"/>
    <app-counter-bubble [number]="12" title="valami"/>
    <app-counter-bubble [number]="32" title="cucc"/>
    
    </div>


<div class="container">
    <div class="eventWrapper"></div>
    <div class="mt5 flex cardWrapper">
      <app-card
        title="Alap terem"
        linkTo="pelda"
        [isClickable]="true"
        imgSrc="templateSzoba.jpg"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque! Explicabo sapiente nobis possimus? Reiciendis, iure reprehenderit rem dolor eligendi dignissimos ad? Amet sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap terem"
        linkTo="pelda"
        [isClickable]="true"
        imgSrc="templateSzoba.jpg"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque! Explicabo sapiente nobis possimus? Reiciendis, iure reprehenderit rem dolor eligendi dignissimos ad? Amet sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap terem"
        linkTo="pelda"
        [isClickable]="true"
        imgSrc="templateSzoba.jpg"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque! Explicabo sapiente nobis possimus? Reiciendis, iure reprehenderit rem dolor eligendi dignissimos ad? Amet sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap terem"
        linkTo="pelda"
        [isClickable]="true"
        imgSrc="templateSzoba.jpg"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque! Explicabo sapiente nobis possimus? Reiciendis, iure reprehenderit rem dolor eligendi dignissimos ad? Amet sunt aliquam dicta, sint incidunt similique!"
      />
      <app-card
        title="Alap terem"
        linkTo="pelda"
        [isClickable]="true"
        imgSrc="templateSzoba.jpg"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque! Explicabo sapiente nobis possimus? Reiciendis, iure reprehenderit rem dolor eligendi dignissimos ad? Amet sunt aliquam dicta, sint incidunt similique!"
      />
    
    
    </div>
</div>
