<app-hero
  imgSrc="roomHero.jpg"
  title="Termeink"
  subtitle="Termeink között mindenki megtalálhatja a számára legmegfelelőbbet"
/>
<div class="counterContainer g5 mt5">
  <app-counter-bubble [number]="rooms?.length || 0" title="szoba" />
  <app-counter-bubble [number]="fullMaxPeople" title="Férőhely" />
  <app-counter-bubble [number]="machineCount" title="Fajta gép" />
</div>

<div class="container">
  <div class="eventWrapper"></div>
  <div class="mt5 flex cardWrapper">
    @for (room of rooms; track $index) {
      <app-room-card [room]="room"></app-room-card>
      
    }
  </div>
</div>
<app-footer></app-footer>